<%= form_for(
  [@article, @comment], 
  remote: true, 
  html: { id: "comments-form", :"data-type" => "json" }
  ) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- se eliminaron :user_id y :article_id para que el usuario no pueda verlos -->
<hr></hr> 
  <blockquote>
    <label for="comment_body"><%= @article.user.email%> dice:</label>
    <textarea name="comment[body]" id="comment_body" rows="5" class="form-control" placeholder="Escriba aquí su comentario" required data-validation-required-message="Please enter a message."></textarea>
    <p class="help-block text-danger"></p>
  </blockquote>
  <div class="row">
      <div class="form-group col-xs-12">
          <input name="commit" class="btn btn-default" value="Enviar Comentario" type="submit">
      </div>
  </div>
<hr></hr>
<% end %>
